@import "tailwindcss";
@theme {
  --font-cunia: var(--font-cunia);
}

@layer base {
  button {
    @apply cursor-pointer font-cunia;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-cunia);
    @apply font-bold leading-[1.1];
  }
  p {
    @apply leading-relaxed;
  }
}

@layer utilities {
  .container {
    @apply px-4 sm:px-8 md:px-12 lg:px-16 mx-auto max-w-7xl;
  }

  .btn-primary {
    @apply bg-amber-600 px-6 py-2.5 rounded-lg text-white font-medium hover:bg-amber-700 focus:bg-amber-700 transition-colors;
  }
  .section-title {
    @apply text-2xl lg:text-4xl font-bold;
  }
}
